@import url('https://fonts.googleapis.com/css2?family=Jost:wght@300;400&family=PT+Sans+Caption&display=swap');

* {
    font-family: 'Jost', sans-serif;
    color: #000 !important;
    background-color: #ddd !important;
    scroll-behavior: smooth;
}

ul {
    list-style-type: none;
  }

/* ---------------------------------navbar----------------------------------- */
.border-grey {
    border: 1px solid #999;
}

.navbar-list {
    flex-grow: 0;
}

.navbar-sam {
    height: 10%;
    width: 100%;
    position: fixed;
    z-index: 1;
}

.navbar-sam-int {
    margin-left: 0;
    flex-basis: content;
}

.sam-logo {
    font-size: 1.3rem;
    font-style: medium;
}

.current {
    /* text-decoration: underline; */
    color: #999 !important;
}

.nav-pad {
    padding-left: 4rem !important;
}


/* ---------------------------------body------------------------------------- */

.body-icon {
    font-size: 1.2rem;
}

#index-space {
    padding-top: 8%;
    text-align: center;
}

.body-space {
    padding-top: 7%;
    text-align: center;
}


#title-space {
    padding-top: none;
}

.contents {
    position: fixed;
    left: 0;
    top: 200px;
    z-index: 0;
    background-color: transparent !important;
}

#watercolours {
    height: 100vh;
}

/* ---------------------------------home------------------------------------- */

.shadow {
    height: 75vh;
    box-shadow: #777 0px 20px 40px;
}


/* ---------------------------------paintings------------------------------ */

.scroll-image {
    margin: auto;
    height: 70vh;
    scroll-snap-align: center;
}

.painting {
    padding-bottom: 40px;
}

.t-painting {
    padding: 10px 0 50px 0;
}

.carouselHeight {
    height: 80vh;
}

.cImg {
    height: 50% !important;
}

.snapper {
    scroll-snap-type: y mandatory;
}

.dates {
    display: none;
}

/* ---------------------------------bio/contact------------------------------ */

#drawings {
    display: inline;
}

/* ---------------------------------bio/contact------------------------------ */

.titles {
    text-align: center;
    font-size: 1.5rem;
    width: 35vw;
    margin: auto;
    padding-bottom: 1rem;
}

#bio {
    margin: auto;
    text-align: center;
    width: 35vw;
    font-size: 0.9rem;
}

#contact {
    text-align: left;
    display: inline;
    font-size: 0.75rem;
    width: 35vw;
}

/*------------------------------------cv-----------------------------------*/

/* #cv {
    width: 50vw;
    height: 50vw;
} */

#cv {
    margin: auto;
    text-align:end;
    width: 40vw;
    font-size: 0.9rem;
}

/*------------------------------media queries------------------------------*/

@media (max-width: 930px) {  
    #bio {
        width: 80%;
    }

    #cv {
        width: 80%;
    }

    #index-space {
        padding-top: 15%;
    }

    #index-space > img {
        width: 50vw;
        height: auto;
    }
    
    .t-painting {
        padding: 15px 0 50px 0;
    }
  }

@media (max-width: 700px) {  
    #index-space {
        padding-top: 25%;
    }

    .scroll-image {
        width: 60vw;
        height: auto;
    }

    .contents {
        display: none;
    }
    
    .t-painting {
        padding: 20px 0 50px 0;
    }
    
    #title-space {
        padding-top: 70px;
    }
  }
@media (max-width: 470px) {
    .body-space {
        padding-top: 20%;
    }

    .t-painting {
        padding: 15px 0 50px 0;
    }
  }