@import url("https://use.typekit.net/qbp0dwy.css");

* {
    font-family: quicksand, sans-serif;
    color: #000 !important;
}


/* ---------------------------------navbar----------------------------------- */
.border-grey {
    border: 1px solid #bbb;
}

.navbar-list {
    flex-grow: 0;
}

.sam-logo {
    font-size: 1.3rem;
    font-style: medium;
}