@import url('https://fonts.googleapis.com/css2?family=Jost:wght@300;400&family=PT+Sans+Caption&display=swap');

* {
    font-family: 'Jost', sans-serif;
    color: #000 !important;
    background-color: #ddd !important;
    scroll-behavior: smooth;
}


/* ---------------------------------navbar----------------------------------- */
.border-grey {
    border: 1px solid #999;
}

.navbar-list {
    flex-grow: 0;
}

.navbar-sam {
    height: 10%;
    width: 100vw;
    position: fixed;
    z-index: 1;
}

.navbar-sam-int {
    margin-left: 0;
    flex-basis: content;
}

.sam-logo {
    font-size: 1.3rem;
    font-style: medium;
}

.current {
    /* text-decoration: underline; */
    color: #999 !important;
}

.nav-pad {
    padding-left: 4rem !important;
}


/* ---------------------------------body------------------------------------- */

.body-icon {
    font-size: 1.2rem;
}

.body-space {
    padding-top: 10%;
    text-align: center;
}

.contents {
    position: fixed;
    left: 0;
    top: 200px;
    z-index: 0;
    background-color: transparent !important;
}

#watercolours {
    height: 100vh;
}

/* ---------------------------------home------------------------------------- */

.shadow {
    height: 75vh;
    box-shadow: #777 0px 20px 40px;
}


/* ---------------------------------paintings------------------------------ */

.scroll-image {
    margin: auto;
    height: 70vh;
    scroll-snap-align: center;
}

.painting {
    padding-top: 100px;
}

.t-painting {
    padding-top: none;
}

.carouselHeight {
    height: 80vh;
}

.cImg {
    height: 50% !important;
}

.snapper {
    scroll-snap-type: y mandatory;
}

/* ---------------------------------bio/contact------------------------------ */

#bio {
    margin: auto;
    text-align: center;
    width: 50vw;
    font-size: 0.75rem;
}

.contact {
    text-align: center;
    display: inline;
    font-size: 0.75rem;
}

/*------------------------------media queries------------------------------*/

@media (max-width: 930px) {  
    .t-painting {
        padding-top: 10vh;
    }
  }

@media (max-width: 700px) {  
    .scroll-image {
        width: 60vw;
        height: auto;
    }

    .contents {
        /* visibility: hidden; */
        display: none;
    }
  }